source [find interface/pi-gpio.cfg]
#source [find interface/pi-native.cfg]
transport select swd

# chip name
set CHIPNAME at91samd21g18
source [find target/at91samdXX.cfg]

#reset_config srst_only
##reset_config trst_only
reset_config srst_nogate
#reset_config srst_only srst_push_pull
#reset_config srst_push_pull
#reset_config connect_assert_srst

#adapter_nsrst_delay 100
#adapter_nsrst_assert_width 100

init
targets
reset halt

at91samd chip-erase
#reset halt

#at91samd nvmuserrow
#at91samd eeprom 0

at91samd bootloader 0

# bootloader to burn to chip
program firmware/samd21_sam_ba.bin verify

reset
shutdown
